* {
    padding: 0;
    margin: 0;
    font-family: 'Akaya Kanadaka', cursive;
    font-family: 'Castoro', serif;    
}

.background {
    background-color: #2898cf;
    height: 100vh;
    padding-top: 2px;
}

.title {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 3px solid rgb(27, 27, 29);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #181b1a;
}

.playerO {
    color: #d3dbe9;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #ede1f3;
}

#reset {
    background-color: #11fa5f;
}